API_ID=22808748
API_HASH=571c691d278b1476b8cf23805fd466ad
BOT_TOKEN=8156971939:AAGru0ppa7VNUiUGdNCcVAcLAnSOOJ8Ymts
MONGO_DB_URI=mongodb+srv://bot627668:2bEJ56yJSu7vzLws@cluster0.qbw5van.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
LOGGER_ID=-1002723596385
OWNER_ID=7874119652
STRING_SESSION=BQFcCKwAoR5tN75MqjlfCbfvaeBTLp8o0NoCESKIcp-I2gHkKMViR310Mq7Bx7D_BWR9fMVb40pn225rBdTW7Z2VxYrQ6EWEIDf5Y6g8BeH31RpyC97sUj7NMU6PT1WiH5Ty1XzbdmleGUjYIwIZeY9Cys4eYHA59kNikw8RJglSEuJDPw_u2qV5zSKSLpbIkcWsS2P6YX5-sfiHrFOBv2T_7M73yHkaOBDetabXndEm8IiB-18gLYG4R1UDahCsokIYwNp2tvNsGjYHqL0Wpcpfh8a2tEEvr81UCGpxATT3O2osIwbEh_yyAw5WZHfIO2aKcGy0oyp0F1ZafiZEXGJRDacTKgAAAAG0YaZmAA
